<?xml version="1.0"?>
<config>
    <tabs>
        <training translate="label" module="training">
            <label>Training</label>
            <sort_order>506</sort_order>
        </training>
    </tabs>

    <sections>
        <training translate="label" module="training">
            <label>Animal</label>
            <sort_order>10</sort_order>
            <tab>training</tab>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label" module="training">
                    <label>General Settings</label>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <recommendation translate="label comment" module="training">
                            <label>Recommendation</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <show_recommendation>1</show_recommendation>
                            </depends>
                            <comment><![CDATA[<strong>This</strong> is a comment]]></comment>
                        </recommendation>
                        <show_recommendation translate="label" module="training">
                            <label>Display recommendation</label>
                            <frontend_type>select</frontend_type>
                            <source_model>training/system_config_source_show</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip>Wow! More JavaScript, Momma!</tooltip>
                        </show_recommendation>
                    </fields>
                </general>
            </groups>
        </training>
    </sections>

</config>